body {
  background-color: #011f3f;
  text-align: center;
}

#level-title {
  font-family: "Press Start 2P";
  font-size: 3rem;
  color: #fef2bf;
  margin: 5%;
}

.container {
  width: 50%;
  margin: auto;
  /* display: block; */
}

.btn {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 25px;
  border: 10px solid black;
  border-radius: 20%;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
